@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/bellefair-v14-latin-regular.woff2') format('woff2'),
    url('assets/fonts/bellefair-v14-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'),
    url('assets/fonts/barlow-condensed-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('assets/fonts/barlow-condensed-v12-latin-700.woff2') format('woff2'),
    url('assets/fonts/barlow-condensed-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'),
    url('assets/fonts/barlow-v12-latin-regular.woff') format('woff');
}


body {
  background: #0B0D17;
  color: #ffffff;
}